[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/wp-skeleton-theme"]
	path = content/themes/wp-skeleton-theme
	url = git://github.com/Harrisonbro/wp-skeleton-theme.git
[submodule "content/plugins/wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = git@github.com:Yoast/wordpress-seo.git
[submodule "content/plugins/w3-total-cache"]
	path = content/plugins/w3-total-cache
	url = git@github.com:wp-mirror/mirror-w3-total-cache.git
